.env
.venv
env/
venv/
VENV/

# User specific settings
**/user_settings.py
ProjectAssignment/user_settings.py

# Temporary files
TMP/
tmp/
TEMP/

# VSCode profiles
.vs_code
.VSCode
.vscode

# Python Cache files
**/__pycache__/
*.py[cod]

# MAC OS specific files
**/.DS_Store
